extends ./layout.jade
block append css
  link(rel='stylesheet',href='/css/show.css')
block contents
  each photo in photos
    div.col-md-4
      a(href='http://dl.ndl.go.jp/info:ndljp/pid/' + photo.pid)
        img(src=photo.photo_url)
