extends ./layout.jade

block append css
  meta(name='viewport', content='width=device-width,initial-scale=1,minimun-scale=1,user-scalable=no')
  link(rel='stylesheet', href='/css/jTinder.css')
  script(src='/js/jquery.min.js')

block nav

block contents
  div.row
    ul
      each photo in photos
        li
          img(src=photo.photo_url,style='height:100%;')

block footer
  script(src='/js/swing.js')
  script(src='/js/tinder.js')
