extends ./layout.jade

block append css
  link(rel='stylesheet', href='/css/jTinder.css')

block nav

block contents
  div.tinderslide
    each photo in photos
      li
        a(href='http://dl.ndl.go.jp/info:ndljp/pid/' + photo.pid)
          img(src=photo.photo_url)

block footer
  script(src='/js/jquery.min.js')
  script(src='/js/jquery.transform2d.js')
  script(src='/js/jquery.jTinder.js')
  script
    | $('#tinderslide').jTinder();
